* {
  margin: 0;
  padding: 0;
}
body {
    overflow: hidden;
    animation: shakebody linear 3s infinite;
}
.background {
  background-image: url(Images/bgimg.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
/*height: 100vh;
    width: 100%;
    background-image: url(bgimg.jpg);
    background-repeat: no-repeat;
    position: absolute; */
.tree {
  height: 61vh;
  width: 100%;
  background-image: url(Images/trees.png);
  background-size: cover;
  position: absolute;
  top: -2px;
}
.track {
  height: 60vh;
  width: 800vw;
  background-image: url(Images/track.png);
  background-repeat: repeat-x;
  position: absolute;
  top: 70vh;
  overflow: hidden;
  animation: trackMove linear 12s infinite;
}
.car {
  height: 79px;
  width: 257px;
  background-image: url(Images/car_body.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 118px;
  bottom: 29vh;
  animation: shake linear 1s infinite;
  animation: carMove linear 3s infinite;
}
.wheel1 img{
  width: 57px;
  position: relative;
  top: 27px;
  left: 29px;
  animation: wheelRotation linear .6s infinite;
}
.wheel2 img{
  width: 57px;
  position: relative;
  top: -32px;
  left: 171px;
  animation: wheelRotation linear .6s infinite;
}

@keyframes wheelRotation {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes carMove {
  /*100% {
    transform: translateX(-500vw);
  }*/
   from {
    left: 0;
  }
  50% {
    left: 53%;
  }
  to {
    left: 95%;
  }
}
@keyframes trackMove {
  100% {
    transform: translateX(-500vw);
  } }
@keyframes shake {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
} 
@keyframes shakebody {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-50px);
  }
} 
